@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Formulario Responsivo de registro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Agrofront.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <h1 class="form-title">Seja bem vindo</h1>
        <img src="~/Content/agroo.png">
        <form action="">
            <div class="main-user-info">
                <div class="user-input-box">
                </div>
                <body>
                    <a class="btn-link" href="2index.html">Entrar</a>
                    @*<p>Não possui cadastro?</p>*@
                    <input type="text" id="fullName" name="fullName" placeholder="Não possui cadastro?" />
                    <a class="btn-link" href="3index.html">Cadastrar</a>
                </body>
            </div>
        </form>
    </div>
 </body>
</html>

